body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #2b2b2b;
}

.site-title {
  font-size: 40px;
  font-weight: 700;
  color: #af4c53;
  margin: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
