body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.site-title {
  font-size: 36px;
  font-weight: 700;
  color: #333;
  margin: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
